body {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}
.navbar-nav {
    margin-left: auto;
}
.banner-row {
    background-color: #D1D1D1;
}

.banner-col {
    width: 60%;
    margin: 2rem 1.5rem;
}

.banner-col img {
    width: 100%;
}

.banner-col-2 {
    padding: 1.5rem;
    margin: auto 0;
}

.button1 {
    width: 100%;
}